<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-datepicker.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">GIT</a></li>
    <li><a href="#">JAVA</a></li>
    <li><a href="#">IDEA</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Java <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">JDK</a></li>
            <li><a href="#">SPRING</a></li>
            <li><a href="#">MYBATIS</a></li>
            <li class="divider"></li>
            <li><a href="#">URL</a></li>
        </ul>
    </li>
    <li><a href="#">C</a></li>
</ul>
</body>
</html>