<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>资料中心</title>
    <link href="../css/storage/storage.css" rel="stylesheet">
    <link href="../webuploader/css/webuploader.css" rel="stylesheet"/>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="../ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
    <script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../webuploader/js/webuploader.nolog.js" type="text/javascript" charset="utf-8"></script>
    <script src="../bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="../ztree/js/jquery.ztree.all-3.5.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/storage/storage.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ase.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div style="background: #f0f0f0;height: 30px;"></div>
<div id="left">

</div>
<div id="right" style="margin-top: 200px">
    <div id='topflexed'>
        <div class="right-title">
            <div class="title-left">
                <div class="btns container" style='margin: 0;padding:0;width: 100%;'>
                    <div>
                        <div id="picker" class="webuploader-container"
                             style="float: left; margin-right: 10px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传 <input type="file" name="file"
                                                                          class="webuploader-element-invisible "
                                                                          multiple="multiple">
                        </div>
                    </div>
                    <button class="titleTwo">&nbsp;&nbsp;&nbsp;&nbsp;新建文件夹</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="downFile btn btn-default">下载</button>
                        <button type="button" class="delFile btn btn-default">删除</button>
                        <button type="button" class="copyFile btn btn-default">&nbsp;&nbsp;&nbsp;复制到</button>
                        <button type="button" class="moveFile btn btn-default">&nbsp;&nbsp;&nbsp;移动到</button>
                        <button type="button" class="renameFile btn btn-default isdisabled">&nbsp;&nbsp;重命名</button>
                    </div>
                    <div class="searchright">
                        <input id="searchText" type="search" placeholder="搜索">
                        <div onclick="$storage.search(this)" class="search"><img
                                src="../images/storage/ss_1.png" alt=""></div>
                        <button class="change" :focus{outline:0;}></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="titleInfo">
            <p style='margin-bottom:5px'><a id="back_level" href="#" onclick="$storage.goback()">返回上一级</a><font>|</font>
                <em id="currentPath"></em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="float:right;font-weight:bold" id="fileNums">共0个</span></p>
        </div>
        <div>
            <ul>
                <li>
                    <div class="countTitle">
                        <div class="one">
                            <input type="checkbox" class="allCheckbox"><span style='margin-left:10px'>全选</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--列表-->
    <div class="countRow" style="display: none;margin-top:141px">
        <div class="rowInfo danxuan">
            <li class="" style="list-style: none;">
                <div class="countInfo" style="padding-top:13px;padding-bottom:10px;  ">
                    <div class="one" style="padding-left:74px;">文件名</div>
                    <div class="two"><span>大小</span></div>
                    <div class="three"><span>创建时间</span></div>
                </div>
            </li>
            <ul id="countRow-content">

            </ul>
        </div>
    </div>
    <!--网格-->
    <div class="countCol" style="margin-top:141px">
        <div class="colInfo danxuan">
            <ul id="countCol-content">
                <!-- content -->
            </ul>
        </div>
    </div>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 600px;margin: 0 auto">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">复制到</h4>
                </div>
                <div class="modal-body">
                    <!--ztree插件-->
                    <ul id="tree" class="ztree"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传-->
    <div class="upload" style="display: none">
        <div class="top">
            <div style="line-height: 44px;">
                <span id="status">上传完成</span>
            </div>
            <div class="top-right"></div>
        </div>
        <div class="bottom">
            <div class="title" id="upload_msg" style='margin-bottom: 2px'>
                <div class="title-left">
                    <span>有一个文件上传成功</span>
                </div>
            </div>
            <div id="fileList"></div>

        </div>
    </div>
</div>
<div class="prompt_box">
    <div class="prompt_boxbody">
        <img src="../images/storage/loading.gif" alt="">
        <span>正在重命名...</span>
    </div>
</div>

<div id="imgPreview">
    <div style="cursor:pointer;font-size: 26px;font-weight:bold;color: white;float: right;padding-right: 25px;padding-top: 25px"
         onclick='$storage.closeImgPreview()'>✖
    </div>
    <div style=' display: inline-block;'><img style="padding-top:150px;max-height:840px;max-width:1100px;"
                                              src="#"></img></div>
    <div style="margin-top:15px" id="imgDown"></div>
</div>
</body>

<script>
    var $storage = new Storage();
    var currentPath = $storage.getCookie("currentPath");

    if (currentPath =="") {
        currentPath == "/"
    }
    $storage.list("/");

    function biggleBack() {
        // 初始化模态框
        function modal() {
            $("#myModal").modal({
                backdrop: false, // 相当于data-backdrop
                keyboard: false, // 相当于data-keyboard
                show: true, // 相当于data-show
                remote: "" // 相当于a标签作为触发器的href
            });
        }

        $("#myModal").on("hidden.bs.modal", function () {
            var mymodal = '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="max-width: 600px;margin:0 auto;"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal"aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">复制到</h4></div><div class="modal-body"><!--ztree插件--><ul id="tree" class="ztree"></ul></div><div class="modal-footer"><button type="button" class="btn btn-primary">确定</button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button></div></div></div></div>';
            $("#myModal").remove();
            $('body').prepend(mymodal);
        });

        $('.btn-group button').hide();
        $('.countTitle').find('input').prop("checked", false);
        var images = ['../images/storage/wj_wxz.png', '../images/storage/wj_wxz.png'];
        $(this).addClass('actives').siblings('li').removeClass('actives');
        $('.left-info li').each(function (index, ele) {
            if ($(this).attr("class") == "actives") {
                $(this).find('img').attr("src", images[1]);
                $(this).find('span').css({color: '#00cdff'});
            } else {
                $(this).find('img').attr("src", images[0]);
                $(this).find('span').css({color: '#313131'});
            }
        });
    }

    // 初始化模态框
    function modal() {
        $("#myModal").modal({
            backdrop: false, // 相当于data-backdrop
            keyboard: false, // 相当于data-keyboard
            show: true, // 相当于data-show
            remote: "" // 相当于a标签作为触发器的href
        });
    }

    $("#myModal").on("hidden.bs.modal", function () {
        var mymodal = '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="max-width: 600px;margin:0 auto;"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal"aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">复制到</h4></div><div class="modal-body"><!--ztree插件--><ul id="tree" class="ztree"></ul></div><div class="modal-footer"><button type="button" class="btn btn-primary">确定</button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button></div></div></div></div>';
        $("#myModal").remove();
        $('body').prepend(mymodal);
    });

    var uploader = WebUploader.create({
        auto: false,
        swf: '../' + "webuploader/Uploader.swf",
        server: '/storage/upload',
        pick: '#picker', // 选择文件的按钮。可选。
        dnd: ".upload",
        prepareNextFile: true,
        chunked: true, //开启分块上传
        chunkSize: 20 * 1024 * 1024,
        chunkRetry: 3,//网	络问题上传失败后重试次数
        threads: 5,
        fileNumLimit: 10,
        duplicate: true,
        fileSizeLimit: 1200 * 1024 * 1024,//最大1.2GB
        fileSingleSizeLimit: 1200 * 1024 * 1024,
        resize: false,//不压缩
    });
    $storage.initUpload(uploader);
    $(document).keyup(function (event) {
        switch (event.keyCode) {
            case 27:
                $("#imgPreview").fadeOut();
            case 96:
                $("#imgPreview").fadeOut();
        }
    });

    function encrypt(word) {
        var key = CryptoJS.enc.Utf8.parse("abcdefgabcdefg12");
        var srcs = CryptoJS.enc.Utf8.parse(word);
        var encrypted = CryptoJS.AES.encrypt(srcs, key, {mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7});
        return encrypted.toString();
    }

    function promptBox(strName, speed) {
        if (speed == null) {
            $('.prompt_box').fadeIn();
            $('.prompt_boxbody span').text('');
            $('.prompt_boxbody span').text(strName);
            setTimeout(function () {
                $('.prompt_box').fadeOut();
            }, 2000);
        } else {
            $('.prompt_box').fadeIn();
            $('.prompt_boxbody span').text('');
            $('.prompt_boxbody span').text(strName);
            var timer = setTimeout(function () {
                $('.prompt_boxbody span').text(strName);
                setTimeout(function () {
                    $('.prompt_box').fadeOut();
                }, speed);

            }, speed);
        }
    }
</script>
</html>